---
layout: layout
---

<%- include('_partials/header.ejs', {scrollLinks: false}) %>
<div class="post">
	<%- page.content %>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
	document.getElementById('need-a-developer').addEventListener('click', function () {
		Tawk_API.maximize();
	});
});
</script>