.post {
	$top-offset: -90px;

	.top-wrapper {
		max-width: 1000px;
		margin: auto;
		position: relative;
		display: flex;
		flex-direction: column-reverse;
	}

	.splash {
		width: 800px;
		height: 400px;
		top: 0;
		right: 0;
		margin: auto;
		background-size: cover;
		background-position: center;
	}

	.meta {
		margin: auto;
		text-align: center;
		padding: 20px;
		width: 50%;
		margin-top: $header-height;
		display: flex;
		justify-content: center;
		align-items: left;
		flex-direction: column;
		box-sizing: border-box;

		h1 {
			font-family: $font-family;
			font-weight: 100;
			font-size: 40px;
			margin-bottom: 5px;
		}

		.date {
			font-size: 20px;
			font-weight: 100;
			font-family: $font-family;
			margin-bottom: 50px;
			margin-top: 15px;
			border-top: 1px solid #eee;
			padding-top: 15px;
		}
	}

	.wrapper {
		margin: auto;
		max-width: 800px;
		margin-top: 20px;
		background: white;
		padding: 5px 30px;
		font-family: $font-family;
		border-radius: 10px;

		.content {
			font-family: 'Roboto';
			font-weight: 300;

			h2 {
				font-weight: normal;
				margin-top: 30px;
				font-size: 30px;
			}

			ul {
				padding-left: 25px;
			}


			li {
				font-size: 20px;
				margin-bottom: 5px;
			}

			p {
				line-height: 31px;
				font-size: 20px;

				img {
					max-width: 100%;
				}
			}

			code {
				font-size: 18px;
				background: #eee;
				color: black;
				padding: 2px 5px;
			}

			a code {
				background: none;
				color: black;
				padding: 0;
			}
		}
	}

	.need-a-developer {
		font-family: $font-family;
		font-weight: bold;
		text-align: center;		
		height: 90px;
		line-height: 90px;
		cursor: pointer;
	}

	@include tablet {
		.top-wrapper {
			display: flex;
			flex-direction: column-reverse;
			height: 500px;

			.meta {
				width: 100%;
				height: auto;
				border-top: 1px solid #efefef;

				.date, h1 {
					max-width: 800px;
					margin-left: auto;
					margin-right: auto;
					width: 100%;
				}

				.date {
					margin-bottom: 0;
				}
			}

			.splash {
				height: 100px;
				flex-grow: 1;
				position: static;
				width: 100%;
				border-radius: 0;
			}
		}

		.wrapper {
			box-shadow: none;
			margin-top: 0;
		}
	}

	@include mobile {
		.top-wrapper {
			.meta {
				margin-top: $header-height-small;
			}
		}
	}

	@include desktop {
		p {
			line-height: 25px;
		}

		li {
			margin-bottom: 5px;
		}
	}
}
